<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do App</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <main id="app">
        <h3>{{title}}</h3>

        <form @submit.prevent="addTodo" class="formulario">
            <label for="newTodo">New Todo</label>
            <input v-model="newTodo" type="text" name="newTodo" id="newTodo" value="" placeholder="Ex.: Wash the dishes">
            <button type="submit" name="button">Add</button>
        </form>

        <button @click="allDone" type="button" name="button">Marcar todos como feito</button>
        <button @click="allNotDone" type="button" name="button">Todos não realizados</button>


        <ul>
            <li v-for="todo in todos">
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" v-model="todo.done">
                        </td>
                        <td class="titulo-da-tarefa">
                            <span :class="{done: todo.done}">{{todo.title}}</span>
                        </td>
                        <td class="botao-remove">
                            <button @click="removeTodo(todo)" type="button">Remove</button>
                        </td>
                    </tr>
                </table>
            </li>
        </ul>





    </main>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js" charset="UTF-8"></script>
</body>

</html>