body {
    text-align: center;
    background-color: rgb(206, 253, 156);
    padding: 0 25%;
}

form {
    padding-bottom: 25px;
    text-decoration: none;
}

.done {
    text-decoration: line-through;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin-top: 5%;
    border: solid rgb(0, 238, 255);
}

li {
    padding: 10px;
    border: solid black;
}

td {
    border: solid rgb(255, 0, 0);
}

.checkbox {
    width: max-content;
}

.botao-remove {
    width: max-content;
    text-align: right;
}

.titulo-da-tarefa {
    width: 100%;
    word-break: break-all;
    padding: 10px;
}

button {
    border-radius: 2px;
    border: none;
    background: orange;
    color: white;
    cursor: pointer;
    padding: 2px 20px;
    transition: 1s;
}

button:hover {
    background: black;
}

.itens:nth-child(2n) {
    background: rgb(142, 175, 107);
    color: #FFFFFF;
}

input {
    border-radius: 2px;
    border: none;
    padding: 5px;
}