body {
    text-align: center;
    background-color: rgb(206, 253, 156);
    padding: 0 25%;
}

form {
    padding-bottom: 25px;
    text-decoration: none;
}

.done {
    text-decoration: line-through;
    font-style: italic;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

td {
    width: 500px
}

button {
    border-radius: 2px;
    border: none;
    background: orange;
    color: white;
    cursor: pointer;
    padding: 2px 20px;
    transition: 1s;
}

button:hover {
    background: black;
}

input {
    border-radius: 2px;
    border: none;
    padding: 5px;
}